:host{
    ion-content {
        --background: #339999 url('../../assets/background.png') no-repeat center center / cover !important;
    }
    .marginTop{
        margin-top: 5px;
    }
    
    ion-item{
        margin: 0 auto;
        width:300px;
        height: 35px;
        --background: #339999
        
        

        ion-input{
            color: #fff;
            margin-top: -10px;
            
        }
    }
    ion-input{
        color: #fff
    }
    
    ion-label{
        margin: 0 auto;
    }
    ion-range{
        margin: 0 auto;
        width:240px;
        height: 35px;
        color: #000;
    }
    .classe{
        --background: #287878;
        margin-left: 5px;
    }
    .button {
        --background: #339999 url('../../assets/button.png') no-repeat center center / cover !important;
        color: #fff;
    }

}