:host{
    ion-content {
        --background: #339999 url('../../assets/background.png') no-repeat center center / cover !important;
    }
    .margin-top2{
        margin-top: 150px;
    }
    .margin-top{
        margin-top: 5px;
    }
    ion-item{
        margin: 0 auto;
        width:240px;
        height: 35px;
        --background: var(--ion-color-primary-contrast);

        ion-input{
            color: #fff;
            margin-top: -10px;
        }
    }
    .button{
        --background: #339999 url('../../assets/button.png') no-repeat center center / cover !important;
        color: #fff;
        margin: 0 auto;
        height: 40px;
        width:145px;
        margin-top:10px;
        
    }
    .label1{
        margin-top: 6px;
        color: #fff;
        font-size: 10px
    }
    .input1{
        margin-top: 3px;
    }
    ion-icon{
        color: #fff;
        margin: 0 auto
    }
}
