ion-content {
    --background: #339999 url('../../assets/background.png') no-repeat center center / cover !important;
}
ion-text{
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 270px;
    margin-top: 10px;
    font-size: 1px
}
.content{
    padding: 0 30px;
}
ion-item{
    opacity: 70%;
}