ion-content {
    --background: var(--ion-color-primary)
    }

ion-text{
    color: white;
    text-align: justify;
    width: 270px;
    margin-top: 10px;
    font-size: 1px
}
.content{
    padding: 0 20px;
}