<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
        <ion-icon class = "ion-back-button" icon="arrow-back" size = "large" (click) = navByUrl()></ion-icon>
    </ion-buttons>
    <ion-title>Termos de uso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="content">
<ion-item>
<ion-text>
<h6>
Nosso objetivo é acabar com a complexidade e tentamos deixar essa Política o mais simples possível, mas caso ainda tenha dúvidas, canais de atendimento estão à sua disposição.
</h6>
<h6>
A nossa Política de Privacidade foi criada para reafirmar o compromisso do Bit com a segurança, privacidade e a transparência no tratamento das suas informações. Ela descreve como coletamos e tratamos dados quando Você baixa nosso aplicativo no seu celular/tablet, trafega em nossos websites, solicita algum dos nossos serviços, se torna nosso cliente, usa nossos serviços ou entra em contato com o Bit por meio dos canais de comunicação disponíveis.
</h6>
<h6>
Essas informações podem se referir àquelas necessárias para identificar Você, para fins de cadastro e cumprimento da legislação, tais como seu nome, CPF e foto, ou ainda àquelas necessárias para prover os serviços do Bit de forma eficiente e segura, tais como seu histórico de crédito, seu endereço para entregar o seu BitCard, dentre outras. Podemos ainda coletar e tratar dados locacionais para permitir ao Bit oferecer melhores serviços a Você e garantir a sua segurança, como, por exemplo, identificando compras indevidas.
</h6>
<h6>
O Bit coleta e trata dados pessoais para fins como, identificação e autenticação; viabilização de ofertas e serviços do Bit ou empresas do mesmo grupo econômico; proteção ao crédito; operacionalização de novos produtos; prevenção e combate de crimes financeiros, problemas técnicos ou de segurança nos processos de identificação e autenticação; e até mesmo a melhoria de serviços e da sua experiência. Dentre os dados coletados, o Bit poderá tratar dados sensíveis, como biometria, para fins de prevenção de fraude e garantia de segurança dos serviços contratados. Também podemos coletar e tratar dados para cumprir com a legislação vigente aplicável. Daremos alguns exemplos a seguir.
</h6>
<h6>
Ao trafegar nos websites, baixar o aplicativo ou solicitar e utilizar os serviços do Bit, Você concorda expressamente com a coleta e tratamento de dados pessoais necessários para o fornecimento de serviços melhores a Você.  Você pode revogar seu consentimento a qualquer momento por meio dos canais de comunicação disponíveis do Bit.
O Bit registra suas informações de dívidas a vencer (sem atraso) ou vencidas (com atraso), coobrigações e garantias no Sistema de Informações de Crédito (SCR), mantido pelo Banco Central do Brasil. Você autoriza o Bit e as empresas do mesmo grupo econômico a fazer consultas sobre suas informações na base de dados do SCR, que contém também informações registradas por outras instituições autorizadas a funcionar pelo Banco Central com as quais Você mantém relação contratual.  Para proteção do crédito, Você autoriza o Bit e empresas do mesmo grupo econômico a consultar suas informações -incluindo dados pessoais, histórico de crédito, entre outros - em órgãos reguladores, birôs de crédito, serviços de compensação e Cadastro Positivo.
Você autoriza expressamente o Bit a compartilhar algumas das suas informações com terceiros e com empresas do mesmo grupo econômico para continuar usufruindo dos melhores serviços e experiência. Podemos compartilhar dados com terceiros para conseguirmos prestar os serviços contratados, tais como, identificação e autenticação; viabilização de ofertas e serviços do Bit ou empresas do mesmo grupo econômico; proteção do crédito; operacionalização de novos produtos; prevenção e combate a crimes financeiros, problemas técnicos ou de segurança nos processos de identificação, dentre outros. Certas informações também poderão ser compartilhadas para fins de cumprimento de obrigações legais.
Podemos também armazenar e manter informações para garantir a segurança e a confiabilidade dos serviços do Bit, bem como para cumprir com determinações legais.
Você poderá solicitar a revisão e correção de seus dados sem qualquer ônus e a qualquer tempo. Para isso, basta entrar em contato por meio de um dos canais de atendimento disponíveis. Ao terminar sua relação com o Bit, caso deseje excluir seus dados, lembre-se que o Bit, com o fim de cumprir com obrigações legais, armazenará determinados dados pelo período e nos termos que a legislação vigente aplicável exigir.
</h6>
<h6>
O Bit poderá utilizar, formatar e divulgar depoimentos referentes ao Bit postados por Você em perfis e páginas públicas nas redes sociais, juntamente com seu nome e imagens (incluindo fotos de perfil), em websites, aplicativos ou materiais institucionais e publicitários para a divulgação dos serviços prestados pelo Bit.
Não se preocupe, o Bit usa diversos tipos de medidas de segurança para garantir a integridade de suas informações, como padrões de segurança de informação praticados pela indústria quando coleta e armazena seus dados pessoais e criptografia de dados padrão da Internet.
O Bit está sempre à disposição para esclarecer suas dúvidas e colocar Você no controle dos seus dados.
</h6>
 </ion-text>
 </ion-item>
</div>
</ion-content>
