<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
        <ion-icon class = "ion-back-button" icon="arrow-back" (click) = navByUrl()></ion-icon>
    </ion-buttons>
    <ion-title>Bloqueio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="marginTop" style="display: flex; justify-content: center;">

  <ion-list class="list">
  <ion-item>
    <ion-label>Bloquear o cartão internacionalmente</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Bloquear o cartão para compras online</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Bloquear o cartão para compras presenciais</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Bloquear o cartão em uma ou mais regiões/estados</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>BloBloquear compras acima de um valor definido</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Bloquear o cartão caso a senha seja digitada incorretamente após um determinado número de tentativas sem êxito</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Bloquear Totalmente o cartão</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
    <ion-item>
    <ion-label>Bloquear Totalmente a conta e o cartão</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  </ion-list>

  

</div>
  
</ion-content>
