
:host{
    ion-content {
    --background: var(--ion-color-primary)
    }
    .logo{
        margin: 0 auto;
        width:310px;
        height: 160px;
        
    }
    ion-content {
        --background: #339999 url('../../assets/background.png') no-repeat center center / cover !important;
    }
    .margin{
        margin-top: 30px;
    }
    .margin2{
        margin-top: 20px;
    }
    .margin3{
        margin-top: 45px;
    }

    .button{
        margin: 0 auto;
        height: 50px;
        width:155px;
        margin-top:10px;
        --background: #339999 url('../../assets/button.png') no-repeat center center / cover !important;
        color: #fff;
    }
    .margin4{
        position: fixed;
        bottom: 0px;
    }

}