

<ion-content class = "background">
  <div class="margin" style="display: flex; justify-content: center;">
    <img class="logo" src="assets/logo.png">
  </div>
  <div class="margin2">
    <ion-button class="button" routerDirection="forward"  expand = "block" routerLink = "/login">ENTRAR</ion-button>
    <ion-button class="button" routerDirection="forward"  expand = "block" routerLink = "/cadastro" >CRIAR BITCONTA</ion-button>
    <ion-button (click) = "sair()" class="button" routerDirection="forward" expand = "block" >Sair</ion-button>
  </div>
  <div class="margin4" style="display: flex; justify-content: center;">
    <img class="card" src="assets/card.png">
  </div>
</ion-content>
